@page "/threading"

@using TechAptV1.Client.Services;
@using TechAptV1.Client.Models;

@inject IThreadingService ThreadingService


@inject IJSRuntime JS

<h3>Threading &amp; Data Persistence</h3>

<div>
    <button class="btn btn-primary" @onclick="(async () => await this.StartAsync())" disabled="@isComputing">Start</button>
    <button class="btn btn-primary" @onclick="(async () => await this.SaveAsync())" disabled="@(!IsDataAvailable)">Save</button>
</div>

@if (isComputing)
{
    <p>Computing... Please wait...</p>
}
else
{
    <div>
        <hr>
        <h4>Numbers:</h4>
        <ul>
            <li>Odd:    <strong>@(this.Result?.OddNumbersCount      ??  0)</strong></li>
            <li>Even:   <strong>@(this.Result?.EvenNumbersCount     ??  0)</strong></li>
            <li>Prime:  <strong>@(this.Result?.PrimeNumbersCount    ??  0)</strong></li>
            <li>Total:  <strong>@(this.Result?.TotalNumbersCount    ??  0)</strong></li>
        </ul>
        <hr>
    </div>
}

@code {

    [Inject] public required ILogger<Threading> Logger { get; set; }

    private bool isComputing = false;

    private bool IsDataAvailable => (Result != null) && (!isComputing); // Assert we are ready with data to be saved

    private (List<Number> Numbers, int TotalNumbersCount, int OddNumbersCount, int EvenNumbersCount, int PrimeNumbersCount)? Result { get; set;}

    private async Task StartAsync()
    {
        this.Logger.LogInformation(nameof(StartAsync));

        isComputing = true;

        StateHasChanged();

        try
        {

            if (ThreadingService is ThreadingService threadingService)
            {
                this.Logger.LogInformation($"Starting {nameof(ThreadingService)}...");

                await ThreadingService.StartAsync();

                Result =
                (
                    threadingService.GetNumbers(),
                    threadingService.GetTotalNumbers(),
                    threadingService.GetOddNumbers(),
                    threadingService.GetEvenNumbers(),
                    threadingService.GetPrimeNumbers()
                );

                this.Logger.LogInformation("Data computed successfully...");
            }
            else
            {
                Result = null;
            }
        }
        catch (Exception exception)
        {
            this.Logger.LogError(exception, nameof(exception));

            Result = null;
        }
        finally
        {
            isComputing = false;

            StateHasChanged();
        }
    }

    private async Task SaveAsync()
    {
        this.Logger.LogInformation(nameof(SaveAsync));

        isComputing = true;

        if(Result != null)
        {
            try
            {
                if (ThreadingService is ThreadingService threadingService)
                {
                    this.Logger.LogInformation($"Saving {nameof(ThreadingService)}...");

                    await threadingService.SaveAsync();

                    this.Logger.LogInformation("Data saved successfully....");

                    await JS.InvokeVoidAsync("alert", "Data saved successfully.");
                }
                else
                {
                    this.Logger.LogWarning("ThreadingService is not of type IThreadingService");

                    await JS.InvokeVoidAsync("alert", "ThreadingService is not of type IThreadingService.");
                }
            }
            finally
            {
                isComputing = false;

                StateHasChanged();
            }
        }
    }
}
